*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
    background-color: rgb(243, 241, 231);;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    display: flex;
    padding: 50px 45px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    transition: 0.6s;
}

.nav-left-content{
    position: relative;
    transition: 0.6s;
    display: flex;
    align-items: center;
}

.head-box{
    height: 8px;
    width: 8px;
    border: 8px solid blue;
    color: blue;
}

.header{
    padding-left: 7px;
    font-size: 17px;
}

.header-text{
    padding-left: 7px;
    font-size: 15px;
    font-weight: lighter;
    opacity: 0.7;
}

.head-link{
    text-decoration: none;
    color: black;
}

.nav-right-content{
    margin-left: auto;
}

.nav-list{
    display: flex;
    position: relative;
    
}

.nav-list-items{
    position: relative;
    display: block;
    padding: 0px 20px;
}

.nav-list-item-links{
    position: relative;
    text-decoration: none;
    text-align: center;
    color: black;
    opacity: 0.8;
    font-size: 15px;
    transition: 0.5s;
}

.nav-list-item-links:hover{
    color: blue;
    transition: .3s;
}

.active{
    color: blue;
}
.main{
    margin-top: 7%;
    margin-bottom: 5%;
}

.head-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.text-box{
    height: 8px;
    width: 8px;
    border: 8px solid blue;
    color: blue;
}

.text-content{
    padding-left: 0.5%;
    font-size: 25px;
    font-weight: bolder;
}

.contact-box{
    height: 500px;
    width: 45%;
    margin: auto;
    background-color: white;
    box-shadow: -5px 4px 20px 0px lightgray;
}

.footer{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    display: flex;
    padding: 40px 45px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-size: 13px;
}

.right-content{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.right-content-text{
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    transition: 0.5s;
    text-align: center;
}
